<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Spring Boot Thymeleaf Hello World Example</title>

</head>

<body>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${books.empty}">
				<td colspan="2">No Books Available</td>
			</tr>
			<tr th:each="book : ${books}">
				<td><span th:text="${book.title}"> Title </span></td>
				<td><span th:text="${book.author}"> Author </span></td>
			</tr>
		</tbody>
	</table>
</body>
</html>